[submodule "packages/circuits/circuits/efficient-zk-ecdsa"]
	path = packages/circuits/circuits/efficient-zk-ecdsa
	url = https://github.com/vimwitch/efficient-zk-ecdsa.git
[submodule "packages/circuits/circuits/Unirep"]
	path = packages/circuits/circuits/Unirep
	url = https://github.com/Unirep/Unirep.git
