[submodule "packages/circuits/circuits/efficient-zk-ecdsa"]
	path = packages/circuits/circuits/efficient-zk-ecdsa
	url = https://github.com/anthonymadia/efficient-zk-ecdsa.git
[submodule "packages/circuits/circuits/unirep"]
	path = packages/circuits/circuits/unirep
	url = https://github.com/Unirep/Unirep.git
